<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="container" style="margin-top: 30px">

    <form class="form-horizontal">
        <!-- action=" " method="post" id="contact_form"-->


        <!-- Form Name -->
        <legend style="text-align: center">Registrate</legend>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-5 control-label">First Name</label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="first_name" placeholder="First Name" class="form-control input-md" required="">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-5 control-label"  for="emailaddress">Last Name</label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="last_name" placeholder="Last Name" class="form-control" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-5 control-label">Department / Office</label>
            <div class="col-md-5 selectContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                    <select name="department" class="form-control selectpicker">
                        <option value="">Select your Department/Office</option>
                        <option>Department of Engineering</option>
                        <option>Department of Agriculture</option>
                        <option>Accounting Office</option>
                        <option>Tresurer's Office</option>
                        <option>MPDC</option>
                        <option>MCTC</option>
                        <option>MCR</option>
                        <option>Mayor's Office</option>
                        <option>Tourism Office</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-5 control-label">Username</label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="user_name" placeholder="Username" class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-5 control-label">Password</label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="user_password" placeholder="Password" class="form-control" type="password">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-5 control-label">Confirm Password</label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="confirm_password" placeholder="Confirm Password" class="form-control" type="password">
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-5 control-label">E-Mail</label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                </div>
            </div>
        </div>


        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-5 control-label">Contact No.</label>
            <div class="col-md-5 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="contact_no" placeholder="(639)" class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Select Basic -->

        <!-- Success message -->
        <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i>
            Success!.</div>

            

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-5 control-label"></label>
            <div class="col-md-5"><br>
            <button type="submit" class="btn btn-warning">SUBMIT
                    <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>


    </form>
</div>


<!-- /.container -->

<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="card" style="margin: 0 auto; width: 600px; margin-top: 30px">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Registrar Usuario</strong>
    </h5>


    <div class="card-body px-lg-5 pt-0">

        <form class="text-center">

            <div class="form-row">
           
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Dni : " class="form-control" [(ngModel)]="usuario.DNI"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

            <div class="form-row">
     
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre : " class="form-control" [(ngModel)]="usuario.Nombre"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

            <div class="form-row">
    
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellido Paterno : " class="form-control" [(ngModel)]="usuario.ApellidoPaterno"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

        
            <div class="form-row">
   
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellido Materno : " class="form-control" [(ngModel)]="usuario.ApellidoMaterno"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

            <div class="md-form mt-0">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email: " class="form-control" [(ngModel)]="usuario.Correo"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

       
            <div class="md-form">
                <mat-form-field class="example-full-width">
                    <input type="password" matInput placeholder="Password : " class="form-control" [(ngModel)]="usuario.Password"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

            <button (click)="ingreseUsuario()" class="btn btn-outline-info btn-rounded btn-block my-10 waves-effect z-depth-0"
                type="submit">Registrarse </button>
        </form>
  
    </div>
</div>-->