<div style="margin: 0 auto; width: 600px; margin-top: 100px">
        <div class="container">
            <h1 class="well">Metodo de pago</h1>
            <div class="col-lg-12 well">
            <div class="row">
                        <form>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6 form-group"> 
                                        <label>Nro Tarjeta</label>
                                        <mat-form-field class="example-full-width">
                                                <input matInput placeholder="XXXXXXXXXXXXXXXX" [(ngModel)]="" [ngModelOptions]="">
                                        </mat-form-field>							
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>CVC</label>
                                        <mat-form-field class="example-full-width">
                                                <input matInput placeholder="XXX" [(ngModel)]="" [ngModelOptions]="">
                                        </mat-form-field>							
                                    </div>
                                </div>					
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Titular</label>
                                         <mat-form-field>
                                                <input  [(ngModel)]="" [ngModel]=""  placeholder="Ingrese su nombre">                     
                                        </mat-form-field>									  
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label>Expiracion</label>
                                        <mat-form-field>
                                                <input  [(ngModel)]=""  placeholder="MM">
                                                <input  [(ngModel)]=""  placeholder="YYYY">
                                         </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <button (click)="" mat-button class="colorButon" style="margin-left: 60px; background-color: rgb(203, 220, 243)">Check out</button>
                                    </div>
                                </div>
                            </div>
                        </form> 			
            </div>
            </div>
        </div>
</div>