<h1 style="text-align: center">NUESTRO HOTEL</h1>
<div class="navBarPositionPadre">
  <div class="navBarPositionHijo">
    <button mat-button class="colorButon" [routerLink]="['/home']">Home</button>
    <button mat-button class="colorButon" [routerLink]="['/listarHabitaciones']">Habitaciones</button>
    <button mat-button class="colorButon">Reserva</button>
    <button mat-button class="colorButon" [routerLink]="['/reservaHabitacion']">Reserva</button>
    <button mat-button class="colorButon" [routerLink]="['/registrarUsuario']">Registrarse</button>
    <button mat-button class="colorButon" [matMenuTriggerFor]="menu">Servicios</button>
    <button mat-button class="colorButon">Foro</button>
  </div>
<div class="positionLogin"> 
  <button mat-button class="colorButon">Login</button>
</div>
</div> 
<div>
<router-outlet></router-outlet>
</div>
<!-- <app-home></app-home> -->
<mat-menu #menu="matMenu">
  <button mat-menu-item>Comida</button>
  <button mat-menu-item>Piscina</button>
</mat-menu>


