<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container" style="float: right; width: 50px; margin-top: 50px; margin-right: 300px">
    {{nameUser}}
</div>
<div class="container">
  <img src="/src/assets/imagenes/logo.jpg" class="logoImagen">
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">RESERVA</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button style="color: white" mat-button class="nav-link" [routerLink]="['/home']">Home</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/listarHabitaciones']">Habitaciones</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/reservaHabitacion']">Reserva</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [matMenuTriggerFor]="menu">Servicios</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon">Foro</button>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto" style="float: right">
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/registrarUsuario']">Registrarse</button>
        </li>
        <li class="nav-item">
          <button style="color: white" mat-button class="colorButon" [routerLink]="['/login']">Login</button>
          <!--<button style="color: white" mat-button class="colorButon" (click)="salir()" *ngIf="existeUsuario()"
            [routerLink]="">Salir</button>-->
        </li>
        <li class="nav-item">
            <button *ngIf="salirButton" (click)="salir()" style="color: white" mat-button class="colorButon" [routerLink]="['/login']">Salir</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

<!-- <app-home></app-home> -->
<mat-menu #menu="matMenu">
  <button mat-menu-item>Comida</button>
  <button mat-menu-item>Piscina</button>
</mat-menu>

<!--
<div class="navBarPositionPadre">
  <div class="navBarPositionHijo">
    <button mat-button class="colorButon" [routerLink]="['/home']">Home</button>
    <button mat-button class="colorButon" [routerLink]="['/listarHabitaciones']">Habitaciones</button>
    <button mat-button class="colorButon" [routerLink]="['/reservaHabitacion']">Reserva</button>
    <button mat-button class="colorButon" [routerLink]="['/registrarUsuario']">Registrarse</button>
    <button mat-button class="colorButon" [matMenuTriggerFor]="menu">Servicios</button>
    <button mat-button class="colorButon">Foro</button>
  </div>
  <div class="positionLogin"> 
    <button mat-button class="colorButon">Login</button>
  </div>
</div>
-->