
<app-navBar></app-navBar>

<div>
  <router-outlet></router-outlet>
</div>


<!-- <app-home></app-home>  (click)="salir()"  -->


<!--
<div class="navBarPositionPadre">
  <div class="navBarPositionHijo">
    <button mat-button class="colorButon" [routerLink]="['/home']">Home</button>
    <button mat-button class="colorButon" [routerLink]="['/listarHabitaciones']">Habitaciones</button>
    <button mat-button class="colorButon" [routerLink]="['/reservaHabitacion']">Reserva</button>
    <button mat-button class="colorButon" [routerLink]="['/registrarUsuario']">Registrarse</button>
    <button mat-button class="colorButon" [matMenuTriggerFor]="menu">Servicios</button>
    <button mat-button class="colorButon">Foro</button>
  </div>
  <div class="positionLogin"> 
    <button mat-button class="colorButon">Login</button>
  </div>
</div>
-->