<div class="login-page col-sm-offset-2">
    <div class="login-box center col-sm-12">
            <div class="row col-sm-12">
                <div class="col-sm-8">
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    <label>Usuario</label>
                </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="txtUsuario" placeholder="Usurio"
                [(ngModel)]="usuario.userName"/>
            </div>
            <div class="row col-sm-12">
               <div class="col-sm-2">
                    <label>Password</label>
               </div>
               <div class="col-sm-6">
                 <input type="text" class="form-control" id="txtContraseña" placeholder="Contraseña"
                  [(ngModel)]="usuario.password"/>
               </div>     
            </div>
            <div class="row col-sm-12">
                 <div class="col-sm-8">
                    <button (click)="ingresar()" class="btn btn-primary">Ingresar</button>
                    <button (click)="borrar()" class="btn btn-primary">Borrar</button>
                 </div>
            </div>
      </div> 
  </div>
</div>