<!--<div class="login-page col-sm-offset-2">
    <div class="login-box center col-sm-12">
            <div class="row col-sm-12">
                <div class="col-sm-8">
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    <label>Usuario</label>
                </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="txtUsuario" placeholder="Usurio"
                [(ngModel)]="usuario.userName"/>
            </div>
            <div class="row col-sm-12">
               <div class="col-sm-2">
                    <label>Password</label>
               </div>
               
               <div class="col-sm-6">
                 <input type="text" class="form-control" id="txtContraseña" placeholder="Contraseña"
                  [(ngModel)]="usuario.password"/>
               </div>     
               
            </div>
            <div class="row col-sm-12">
                 <div class="col-sm-8">
                    <button (click)="ingresar()" class="btn btn-primary">Ingresar</button>
                    <button (click)="borrar()" class="btn btn-primary">Borrar</button>
                 </div>
            </div>
      </div> 
  </div>
</div>-->

<div class="container" style="width: 15%; text-align: center">
    <form class="form-signin">
        <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Por favor, logeate</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input [(ngModel)]="correo" [ngModelOptions]="{standalone: true}" type="email" id="inputEmail" class="form-control" placeholder="Correo" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input [(ngModel)]="contrasena" [ngModelOptions]="{standalone: true}"  type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
        <div class="checkbox mb-3">
          <label>
            <!--<input type="checkbox" value="remember-me"> Remember me-->
            -
            {{error}}
          </label>
        </div>
        <button (click)="ingresar(correo, contrasena)" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
      </form>
</div>

<div class="container" style="margin-top: 20px">
    <div class="table-wrapper">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>NÚMERO</th>
                    <th>TIPO</th>
                    <th>ESTADO</th>
                    <th>ACCIÓN</th>
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor="let usu of usuario">
                    <td>{{usu.ID}}</td> 
                    <td>{{usu.Nombre}}</td> 
                    <td>
                        <button [hidden]="hidenButon" (click)="verDetalleHabitacion(habitacion.ID)" type="button" class="btn btn-info add-new" style="background-color: rgb(203, 220, 243); color: black"><i class="fa fa-plus"></i> Ver Detalle</button>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
</div>  