<div class="container" style="text-align: center" id="content" #content>
    <div id="contentToConvert">
        <legend>REPORTE RESERVA</legend><br>
        <div>
            <strong>DREAM HOTEL - Get your dreams</strong><br><br>
            <a><strong>Dirección:</strong>&nbsp;Jr. Lima Nº 785-792 - San Isidro, Lima, Perú</a><br><br>

            <strong>Nombre:</strong>&nbsp;{{nameUser}}<br>
            <strong>Apellido Paterno:</strong>&nbsp;{{apePat}}<br>
            <strong>Apellido Materno:</strong>&nbsp;{{apeMat}}<br>
            <strong>Habitacion:</strong>&nbsp;{{numHabitacion}}<br>
            <strong>Precio:</strong>&nbsp;&nbsp;S/.&nbsp;{{precio}}<br>
            <strong>Tipo Habitación:</strong>&nbsp;{{tipo}}<br>

        </div>
        <!--<div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
            <button (click)="reportePDF()" type="submit" class="btn btn-primary">GENERAR PDF
                <span class="glyphicon glyphicon-send"></span></button>
        </div>
    </div>-->
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
            <button (click)="captureScreen()" type="submit" class="btn btn-primary">GENERAR PDF
                <span class="glyphicon glyphicon-send"></span></button>
        </div>
    </div>


</div>