<!-- <img src="assets/imagenes/hotelPortada1.jpg" width="100%"> -->
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/imagenes/hotelPortada1.jpg" alt="First slide">
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/imagenes/restaurant.jpg" alt="Second slide">
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <img class="d-block w-100" src="assets/imagenes/rest.jpg" alt="Third slide">
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->

<div>
    <img src="assets/imagenes/cuarto.jpg" width="40%" height="515px">
    <img src="assets/imagenes/rest.jpg" width="60%" height="515px">
</div>
<div>
    <img src="assets/imagenes/lima.jpg" width="60%" height="515px">
    <img src="assets/imagenes/sala.jpg" width="40%" height="515px">
</div>

