<!-- Grid row -->
<div class="container">
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 d-flex justify-content-center mb-5">

            <button style="margin-right: 5px" type="button" class="btn btn-primary waves-effect filter" data-rel="al">Matrimonial</button>
            <button style="margin-right: 5px" type="button" class="btn btn-primary waves-effect filter" data-rel="1">Suite</button>
            <button style="margin-right: 5px" type="button" class="btn btn-primary waves-effect filter" data-rel="2">Familiares</button>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->


    <div id="mdb-lightbox-ui"></div>
    <div class="mdb-lightbox">
        <!-- Grid row -->
        <div class="gallery" id="gallery">

            <div class="mb-3 pics animation 2">
                <img (click)="git()" class="img-fluid" src="assets/imagenes/hab-familiar4.jpg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation 1">
                <img class="img-fluid" src="assets/imagenes/suite5.jpeg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation 1">
                <img class="img-fluid" src="assets/imagenes/suite1.jpg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation 2">
                <img class="img-fluid" src="assets/imagenes/hab-familiar3.jpg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation 2">
                <img class="img-fluid" src="assets/imagenes/hab-familiar5.jpg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation 1">
                <img class="img-fluid" src="assets/imagenes/suite3.jpg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation al">
                <img class="img-fluid" src="assets/imagenes/hab-matrimonial1.jpg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation al">
                <img class="img-fluid" src="assets/imagenes/hab-matrimonial2.jpg" alt="Card image cap">
            </div>

            <div class="mb-3 pics animation al">
                <img class="img-fluid" src="assets/imagenes/hab-matrimonial3.jpg" alt="Card image cap">
            </div>



        </div>

    </div>
</div>