<!-- Grid row -->
<div class="container">
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 d-flex justify-content-center mb-5">

            <button style="margin-right: 5px" type="button" class="btn btn-primary waves-effect filter" data-rel="al">Matrimonial</button>
            <button style="margin-right: 5px" type="button" class="btn btn-primary waves-effect filter" data-rel="1">Suite</button>
            <button style="margin-right: 5px" type="button" class="btn btn-primary waves-effect filter" data-rel="2">Familiares</button>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

    
    <div id="mdb-lightbox-ui"></div>
    <div class="mdb-lightbox">
    <!-- Grid row -->
    <div class="gallery" id="gallery">

        <!-- Grid column -->
        <div class="mb-3 pics animation al 2">
            <img (click)="git()" class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation al 1">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation al 1">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation al 2">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation al 2">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="mb-3 pics animation al 1">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg" alt="Card image cap">
        </div>
        <!-- Grid column -->
      

    </div>
    <!-- Grid row -->
</div>
</div>