
<!------ Include the above in your HEAD tag ---------->
<div style="margin: 0 auto; width: 600px; margin-top: 100px">
<div class="container">
    <h1 class="well">Reservar Habitacion</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 form-group"> 
								<label>Cliente</label>
								<input type="text" placeholder="Cliente" class="form-control" [(ngModel)]="reservaHabitacion.IdUsuario" [ngModelOptions]="{standalone: true}">
							</div>
							<div class="col-sm-6 form-group">
								<label>Número habitación</label>
								<input type="text" placeholder="Habitación" class="form-control" value="{{id}}">
							</div>
						</div>					
						<div class="row">
							<div class="col-sm-6 form-group">
								<label>Fecha ingreso</label>
								<input type="text" placeholder="Fecha ingreso" class="form-control" [(ngModel)]="reservaHabitacion.FechaIngreso" [ngModelOptions]="{standalone: true}">
							</div>
							<div class="col-sm-6 form-group">
								<label>Fecha salida</label>
								<input type="text" placeholder="Fecha salida" class="form-control" [(ngModel)]="reservaHabitacion.FechaSalida" [ngModelOptions]="{standalone: true}">
                            </div>
                        </div>
					<button (click)="registrarReservaHabitacion()" type="button" class="btn btn-lg btn-info">RESERVAR</button>			 		
					</div>
				</form> 			
	</div>
    </div>
</div>
</div>
    